body{
    background: rgb(124, 145, 122);
}


h5{
    font-size: 45px;
}

p{
    color: white;
    background: rgba(106, 63, 150, 0.158);
    text-align: center;
}

p:hover{
    color: black;
    font-size: 30px;
    background: rgb(94, 32, 32);
}