*{
    margin: 0px auto;
    padding: 0px;
}

#content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 450px 1fr 200px;
    grid-template-areas: 
    "cabecera cabecera cabecera cabecera"
    "cuerpo cuerpo cuerpo cuerpo"
    "pie pie pie pie"
    ;
}